@import 'config.css';

body {
    background-color: var(--primary-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

body nav {
    width: 100%;
    padding: 10px 22px;
    padding-left: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--nav-bg-color);
    position: fixed;
    top: 0;
    z-index: 99999;
}

body nav .menu_logo {
    width: 160px;
}

body nav .menu_logo img {
    max-width: 100%;
}

body nav ul {
    display: flex;
    margin-right: 24px;
}

main {
    width: 100%;
}


nav ul li a {
    color: var(--text-color);

    font-family: "Raleway";
    font-size: 12px;

    font-weight: bold;

    letter-spacing: 2px;

    margin-right: 24px;
}

nav ul li:nth-last-of-type(1) a {
    background-color: var(--tertiary-color);

    padding: 8px 24px;

    border-radius: 22px;

    transition: background .9s, color .9s;
}

nav ul li:nth-last-of-type(1) a:hover {
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    padding: 80px 0 300px;


    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;

    animation: header-bg 8s ease-in infinite;
    animation-fill-mode: forwards;

    transition: background 200ms;
    margin-top: 50px;

    position: relative;
}

header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
    background: transparent;
}

header .content .marcas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    width: fit-content;
    height: auto;
}

header .content .title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header .content .title h2 {
    font-family: "Raleway";
    font-weight: light;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 6px;
}

header .content .title h1 {
    font-family: "Raleway";
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
}

header .content hr {
    height: 5px;
    max-width: 700px;
    width: 70%;

    background: var(--divider-bg-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

header .content .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

header .content .price p {
    color: var(--text-color);

    font-family: "Quicksand";
    font-size: 20px;
    text-align: center;
}

header .content .price p:last-of-type {
    color: var(--text-color);
    font-family: "Raleway";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

header .content .price p:last-of-type span {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

header .content button {
    width: max-content;
    padding: 16px 40px;

    border-radius: 30px;
    border: solid 2px transparent;

    color: var(--text-color);
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    background-position: 10%;

    font-family: "Raleway";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 1s, border 1s;
    animation: toggler 2.2s linear infinite;
}

header .content button:hover {
    background-position: 100%;
    border: solid 2px var(--secondary-color);
    transition: all 1s;
}

header .content blockquote {
    font-size: 16px;
    font-family: "Quicksand";
    font-weight: lighter;
    text-align: center;

    color: var(--text-color);

    line-height: 1.2rem;
}

header::after {
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
    content: "";
}

.planos {

    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 100px;
    background: url(../images/background-movies-series.png) no-repeat;
    background-size: cover;
}

.planos h1 {
    font-size: 32px;
    font-family: "Raleway";
    justify-content: center;
    text-align: center;
    color: var(--text-color);

}

.planos .card-container {
    display: flex;
    gap: 80px;
    perspective: 1000px;
    width: fit-content;
    align-items: center;
}

.planos .card-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    background: var(--card-bg-color);
    background-size: 200% 110%;
    border-radius: 8px;
    min-height: 600px;
    gap: 30px;
    transition: transform 1.5s;
}

.card-container:has(.card:nth-child(1):hover) .card:nth-child(2) {
    transform: rotateY(-45deg);
}

.card-container:has(.card:nth-child(2):hover) .card:nth-child(1) {
    transform: rotateY(45deg);
}

/*ESTUDAR ESSA SOLUÇÃO POR QUE PRR*/



.planos .card-container .separar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.planos .card-container .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.planos .card-container .price p {
    color: var(--text-color);
    width: 100%;
    font-family: "Raleway";
    font-size: 23px;
    text-align: center;
    font-weight: bold;

}

.planos .card-container .price p:last-of-type {
    color: var(--secondary-color);
    font-family: "Raleway";
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.planos .card-container .price p:last-of-type span {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    color: var(--text-color)
}

.planos .card-container .beneficios {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.planos .card-container .beneficios li {
    font-family: 'Raleway';
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    line-height: 1.5rem;
}

.planos .card-container .beneficios li::before {
    content: "+";
    font-size: 2rem;
    margin-bottom: 8px;
    margin-right: 10px;
}

.planos .card-container .card button {
    font-size: 12px;
    font-weight: bold;
    color: var(--text-color);
    padding: 16px 60px;
    border: none;
    border: solid 2px transparent;
    border-radius: 28px;
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    letter-spacing: 3px;
    transition: scale 1s, border 1s;
}

.planos .card-container .card button:hover {
    background-position: 100%;
    scale: 1.05;
    border: solid 2px var(--secondary-color);
    transition: all 1s;
}

.movies {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 24px;
    text-align: center;
    margin: 100px auto;
}

.movies h1 {
    font-size: 32px;
    font-family: 'Raleway';
    color: var(--text-color);
}

.movies .movies_container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.movies .movies_container .movie-card {
    position: relative;
    overflow: hidden;
    transition: all .8s;
    border-radius: 16px;
    border: 2px solid transparent;
    transition: transform 0.8s, background 0.8s, border 1s;
}

.movies .movies_container .movie-card .img-default {
    z-index: 1;
    transition: all .8s;
}

.movies .movies_container .movie-card .img-hover {
    position: absolute;
    transition: all .8s;
    left: 0px;
    z-index: -1;
}

.movies .movies_container .movie-card img {
    width: 100%;
    object-fit: cover;
    transition: all .8s;
}

.movies .movies_container .movie-card:hover>.img-default {
    transition: all .8s;
    opacity: 0;
    transform: scale(1.05);
}

.movies .movies_container .movie-card:hover {
    transform: scale(1.05);
    border: solid 2px black;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
    justify-content: space-between;
    padding: 24px;
}

footer .actions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
}

footer .actions li{
    font-size: 14px;
    font-family: "Raleway";
    color: var(--link-color);
    font-weight: bold;
    transition: color .8s;
}

footer .actions li:hover{
    color: var(--text-color);
}

footer p{
    font-size: 12px;
    font-family: "Quicksand";
    font-weight: lighter;
    color: var(--link-color);
    margin: 16px 0;
    text-align: center;
}

footer .social{
    display: flex;
    gap: 40px;
    margin-top:80px;
    padding-bottom: 24px;
}

footer .social img{ 
    transition: transform 500ms;
}

footer .social img:hover{ 
    transform: translateY(-15px) scale(1.02);
    transition: transform 500ms;
}


@media screen and (max-width:1140px) {
    .planos {
        padding: 0px 24px;
    }

    .planos .card-container {
        flex-direction: column;
        padding: 0px 0px;
    }

    .planos .card-container .card {
        max-width: 600px;
        padding: 40px;
    }
}

@media screen and (max-width:800px){
    .movies .movies_container{
       grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:528px) {
    header {
        margin-top: 130px;
        padding-top: 100px;
    }

    header .content .title h2 {
        margin-bottom: 0px;
        line-height: 2.4rem;
    }

    header .content .title h1 {
        line-height: 3.6rem;
    }

}

@media screen and (max-width:480px) {


    body nav {
        flex-direction: column;
        align-items: center;
        padding: 32px 24px;
        gap: 28px;
    }

    body nav .menu_logo {
        max-width: 100px;
    }

    body nav ul {
        margin-right: 0;
        gap: 24px;
    }

    nav ul li a {
        color: var(--text-color);

        font-family: "Raleway";
        font-size: 12px;

        font-weight: bold;

        letter-spacing: 2px;
        margin: 0;
    }

    .planos .card-container .beneficios li {
        font-size: 16px;
    }

    .planos .card-container .card {
        gap: 40px;
    }

    .planos .card-container .card button {
        padding: 16px 40px;
        font-size: 13px;
        border-radius: 40px;
    }

    .planos .card-container .price p:last-of-type {
        font-size: 24px;
    }

    .movies .movies_container{
        grid-template-columns:repeat(6, 100%);
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;
     }

     .movies .movies_container .movie-card:hover>.img-default {
        transition: all .8s;
        opacity: 0;
        transform: scale(1);
    }
    
    .movies .movies_container .movie-card:hover {
        transform: scale(1);
        border: solid 2px black;
    }

    footer .actions{
        flex-direction: column;
        gap: 20px;
    }
}

@keyframes header-bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes toggler {

    0%,
    10% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg)
    }

    35% {
        transform: rotate(-10deg)
    }

    40%,
    100% {
        transform: rotate(0)
    }
}